.loyalty-okendo-widget .section__heading {
  text-align: center;
  margin-block-end: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.loyalty-okendo-widget__subheading {
  text-align: center;
  font-size: 1.4rem;
  color: rgba(var(--color-foreground), 0.75);
  margin-block-start: 0;
  margin-block-end: calc(var(--section-spacing-unit-size) * 2);
}

.loyalty-okendo-widget__container {
  min-height: 20rem;
}
